:root {
  --bg: #000;
  --card: #0f0f0f;
  --text: #fff;
  --muted: #999;
  --border: #222;
  --success: #fff;
  --danger: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CARD */
.card {
  width: 360px;
  background: var(--card);
  padding: 30px;
  border-radius: 16px;
  border: 1px solid var(--border);
}

h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: var(--muted);
  margin-bottom: 20px;
  font-size: 14px;
}

/* INPUTS */
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #111;
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.input-group i {
  color: var(--muted);
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* RESULTADO */
#resultado {
  margin-top: 20px;
  font-size: 14px;
}

.result-box {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.highlight {
  font-size: 18px;
  margin-top: 10px;
}
